@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Exo:wght@400;700&family=Macondo&family=Pacifico&family=Roboto:ital,wght@0,400;1,700&display=swap");

ADICIONADO QDO CRIAMOS A HEADER .Header {
    max-width: 1110px;
    margin: 0 auto 25px auto;
    position: relative;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0 35px 0;
}

.Logo {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 340px;
    height: 45px;
}

.Logo__titulo {
    position: absolute;
    left: 55px;
    font-family: "Exo";
    font-weight: 700;
    font-size: 2.5em;
}

.Logo__icone {
    position: absolute;
    left: -20px;
    top: -15px;
}

.Sacola {
    position: relative;
}

.Sacola__icone {
    cursor: pointer;
}

.Sacola__badge {
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    color: white;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    bottom: 0;
    right: 0;
}

@media (max-width: 1220px) {
    .Header {
        max-width: 720px;
    }
    div.Animacao {
        width: 700px;
        margin-left: 4.5rem;
        font-size: 20px;
    }
}

@media (max-width: 840px) {
    .Header {
        max-width: 320px;
    }
    div.Animacao {
        margin-left: 1rem;
        font-size: 20px;
    }
}

@media (max-width: 740px) {
    div.Animacao {
        margin-left: 2rem;
        width: 400px;
        margin: 0 auto;
        font-size: 17px;
    }
}

@media (max-width: 450px) {
    .Header {
        max-width: 250px;
    }

    .row {
        column-gap: 20px;
    }

    .Logo__titulo {
        font-size: 1.5em;
    }
}
/*ESTILIZAÇÃO DO BOTÃO DE SUBIR SCROLL*/
.scrollbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(0, 110, 255);
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 999;
    cursor: pointer;
    color: wheat;
}

div.intro {
    font-size: 1.5em;
    font-family: "Roboto";
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
